:root {
  --mainBlue: #d4d4f3;
  --lightBlue: #009ffd;
  --mainWhite: ;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: #f3f3f3 !important;
  color: #232528 !important;
}

.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: #d4d4f3;
}

.text-bright {
  color: var(--lightBlue);
}